.emp__new
  %h2 従業員ナンバー登録
  .list__btn
    = link_to "従業員一覧", employees_path
= form_for(@employee) do |f|
  .name
    名前を入力して下さい。
  = f.text_field :name, class: "name__form"
  .number
    従業員番号を入力して下さい。
  = f.telephone_field :number, class: "number__form"
  .submit
    = f.submit "登録", class: "employee__submit"
    .emp__back
      = link_to "戻る", root_path
